body {background-color: black}
body {color: white}
p {overflow-wrap: anywhere;}
@font-face {
    font-family: vento;
    src: url("vento.ttf") format("truetype");
}

#header {
    z-index: 0;
    position: fixed;
    width: 100%;
    margin-top: -1.25em;
    height: 7.5em;
    background-color: #226354;
	margin-bottom: 0.625em;}
html, body {
 margin: 0;
}
.logo {
	width: 12.5em;
	height: 6.25em;
	position: fixed;
	z-index: 2;
	top: 0%;
	left: 0%
	margin-top: 0em;
	color: yellow;

}
p {font-family:  vento}
p {z-index: -2}
#twitter {
  	background-image: url("https://abs.twimg.com/favicons/twitter.ico");
  	display: block;
  	position:fixed;
	width:2em;
	height:2em;
	top: 2em;
	right: 0.625em;
	z-index: 2;
}
#youtube {
  	background-image: url("https://www.youtube.com/s/desktop/a951aecb/img/favicon_32.png");
  	display: block;
	position: fixed;
	width:2em;
	height:2em;
	top: 0em;
	right: 0.625em;
	z-index: 2;
}


